mixin tabHeading(tabname, link)
    if(title===tabname)
        a.currentTab.nav_el.col_el(href=link)= tabname
    else
        a.nav_el.col_el(href=link)= tabname
        
mixin tabHeadingIcon(tabname, link, image)
    if(title===tabname)
        a.nav_el(href=link)
            img.nav_icon.currentTabIcon(src=`/img/icons/${image}.png`)
            p= tabname
    else
        a.nav_el(href=link)
            img.nav_icon(src=`/img/icons/${image}.png`)
            p= tabname

header
    nav
        nav.user_details
            span.neutral_el
                img(src='/img/icons/user.png' alt = 'logo' height='48px')
            if user
                span.neutral_el(style = "user-select: none")= user.username
            else
                +tabHeading("Log In", '/login')
                +tabHeading("Sign Up", '/signUp')
        
    nav.navigation_icons
        if(title)
            a.nav_el(href='/') 
                img.nav_icon(src='img/icons/home.png')
                p Home
        else
            a.nav_el(href='/')
                img.nav_icon.currentTabIcon(src='img/icons/home.png')
                p Home
        if user 
            +tabHeadingIcon('Statistics','/statistics','stats')
            +tabHeadingIcon('Console','/console','console')
            +tabHeadingIcon('Dictionary','/dictionary', 'dictionary')
            a#logoutBtn.nav_el
                img.nav_icon(src='/img/icons/logout.png')
                p Logout
        else 
            //- +tabHeadingIcon('Free Test','/freeTest','test')
            span.nav_shadow
                div.shadow
                img.nav_icon(src=`/img/icons/stats.png`)
                p Statistics
            span.nav_shadow
                div.shadow
                img.nav_icon(src=`/img/icons/console.png`)
                p Console
            span.nav_shadow
                div.shadow
                img.nav_icon(src=`/img/icons/dictionary.png`)
                p Dictionary
div.logo_container
    img.logo(src='/img/link-king-header-logo.png', alt = 'logo')

if(title!=='Console')
    div.filler_block
