extends base

mixin listEntry(_id, fontSize, text, opacity, classname)
    p(class= classname, id= _id, translate = "no", style=`font-size: ${fontSize}em ; \n opacity: ${opacity}`)= text 

block head
    style(type='text/css').
        .console_container{
        font-size:3rem;
        }
        #racetrack {
        user-select: none;
        margin-bottom: 0%;
        }

        #tail {
        user-select: none;
        margin-top: 0%;
        max-width:100%;
        }
        .hide_of{
        overflow:hidden;
        white-space: nowrap;
        }

        #formx {
        margin: 0.5rem 0;
        position: relative;
        }

        #border {
        position: absolute;
        top: 0;
        left: 0;
        }

        #attempt {
        font-size: 1em;
        background-color: #000000;
        text-align: center;
        width: 23rem;
        border: none;
        outline: none;
        margin: 0 0;
        border-radius: 15px;
        }



        .point {
        background-color: hsl(0, 0%, 100%);
        position: absolute;
        }

        .options_container {
        cursor: pointer;
        width: 100%;
        height: 5rem;
        min-height:5rem;
        align-items: right;
        }

        .options_column {
        margin-top: 10rem;
        position: absolute;
        right: 1rem;
        display: flex;
        flex-direction: column;
        
        }


        .block {
        border: 1px solid #ffffff;
        border-radius: 1rem;
        width: 5.5rem;
        height: 5.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        }

       

        .bigAndBold {
        font-size: 2.5rem;
        font-weight: bold;
        user-select: none;
        }



        @media screen and (max-width: 75rem) {
        body{
        overflow-y: hidden;
        overflow-x: hidden;
        }
        }
        @media only screen and (max-width: 37.5rem) {
        .options_column {
        margin-top: 7.5rem!important;
        right: 0.25rem!important;
        }
        .block{
        border-radius: 0.5rem!important;
        }
        .block:not(:first-child) {
        width: 2.75rem!important;
        height: 2.75rem!important;
        margin-bottom: 0.25rem!important;
        }
        .o_icon{
        width: 2rem!important;
        }
        .bigAndBold {
        font-size: 1.25rem!important;
        }
        #attempt {
        width: 13rem!important;
        font-size: 2.5rem!important;
        }
        #formx{
        margin: 0!important;
        }
        .options_container {
        height: 0!important;
        min-height:0!important;
        }
        .console_container{
         font-size: 2.5rem;
        }
        }

block content
    main.main.top
        div.options_container
            div.options_column
                table#stats.block
                    tr 
                        td.leftcolumn due
                        td#due.rightcolumn=data.stats.due
                    tr 
                        td.leftcolumn steps
                        td#steps.rightcolumn=data.stats.steps
                    tr 
                        td.leftcolumn time
                        td#timeplaying.rightcolumn=data.stats.time
                div#soundBox.block
                    if(data.sound)
                        img#sound.o_icon(src=`/img/soundOn.png`)
                    else
                        img#sound.o_icon(src=`/img/soundOff.png`)
                div#blurredBox.block
                    if(data.blurred)
                        img#blurred.o_icon(src=`/img/blurredOn.png`)
                    else
                        img#blurred.o_icon(src=`/img/blurredOff.png`)
                div#timer1020Box.block
                    if(data.timer)
                        div#timer1020.bigAndBold 10s
                    else
                        div#timer1020.bigAndBold 20s
        span#racetrack.console_container
            -for (let i = 19; i >= 0; --i)
                +listEntry(`rc${i}`,Math.pow(0.8,i),data.raceTrack[i],1,"")
        form#formx.console_container
            input#attempt(autocomplete="off", value='')
            div#border
        span#tail.hide_of.console_container
            -for (let i = 0; i<=3; ++i)
                +listEntry(`te${i}`,Math.pow(0.8,-i-1),data.tail[i],1 / Math.pow(1.7, i),"tails")
        span.outlined.console_container
            p(style='visibility: hidden', id='solutions')= JSON.stringify(data.attempt.solutions)
            p(style='visibility: hidden', id='tries')= data.tries
            