extends base

mixin listEntry(_id, fontSize, text, opacity, classname)
    p(class= classname, id= _id, translate = "no", style=`font-size: ${fontSize}em ; \n opacity: ${opacity}`)= text 

block head
    style(type='text/css').
        .console_container{
        font-size:3rem;
        }
        #racetrack {
        user-select: none;
        margin-bottom: 0;
        }

        #tail {
        user-select: none;
        margin-top: 0;
        max-width:100%;
        }
        .hide_of{
        overflow:hidden;
        white-space: nowrap;
        }

        #formx {
        z-index=1000;
        margin: 0.5rem 0;
        position: relative;
        }

        #border {
        position: absolute;
        top: 0;
        left: 0;
        }

        #attempt {
        font-size: 1em;
        background-color: #000000;
        text-align: center;
        width: 22rem;
        border: none;
        outline: none;
        margin: 0 0;
        border-radius: 15px;
        }

        .stats_container{
        width:100%;
        display: flex;
        align-items: right;
        justify-content: right;
        }
        .stats_row, .stat{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        }
        .stat{
        margin: 0 0.5em;
        }
        .st:not(:last-child){
        margin-right: 0.3em;
        }
        .point {
        background-color: hsl(0, 0%, 100%);
        position: absolute;
        }

        .options_container {
        cursor: pointer;
        width: 100%;
        align-items: right;
        }

        .options_column {
        margin-top: 0.5rem;
        position: absolute;
        right: 1rem;
        display: flex;
        flex-direction: column;
        }


        .block {
        border: 1px solid #ffffff;
        border-radius: 1rem;
        width: 5.5rem;
        height: 5.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        }
        .bigAndBold {
        font-size: 2.5rem;
        font-weight: bold;
        user-select: none;
        }
        @media screen and (max-width: 75rem) {
        html,
        body,
        .main{
        overflow: hidden;
        }
        }
        @media screen and (max-width: 37.5rem) {
         html,
        body,
        .main{
        overflow: hidden;
        }
        .racetrack, 
        .hidetails
        {
        position: fixed;
        z-index=1;
        visibility: hidden;
        top:0;
        }
        .stats_container{
        display: flex;
        align-items: center;
        justify-content: center;
        }
        .options_container {
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .options_column {
        margin-top: 0.25rem;
        flex-direction: row!important;
        position: static!important;
        }

        .block {
        border-radius: 0.5rem!important;
        width: 2.75rem!important;
        height: 2.75rem!important;
        margin-bottom: 0.25rem!important;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        }

        .o_icon{
        width: 2rem!important;
        }
        .bigAndBold {
        font-size: 1.25rem!important;
        }
        #attempt {
        width: 16rem!important;
        }
        #formx{
        margin: 0 0!important;
        z-index: 1000;
        }
        body{
        min-height:0;
        height:100%;
        }
        html {
        background: #1b1b1b;
        }

        .apply-styles-A {
        z-index:1;
        visibility: hidden;
        }
        .apply-styles-B {
        height: 2rem!important;
        min-height: 2rem!important;
        }

        }

block content
    main.main.top
        div.stats_container
            div.stats_row
                div.stat
                    p.st due
                    p.st#due= data.stats.due
                div.stat
                    p.st.small steps
                    p.st#steps= data.stats.steps
                div.stat
                    p.st.small time
                    p.st#timeplaying= data.stats.time
        div.options_container
            div.options_column
                div#soundBox.block
                    if(data.sound)
                        img#sound.o_icon(src=`/img/soundOn.png`)
                    else
                        img#sound.o_icon(src=`/img/soundOff.png`)
                div#blurredBox.block
                    if(data.blurred)
                        img#blurred.o_icon(src=`/img/blurredOn.png`)
                    else
                        img#blurred.o_icon(src=`/img/blurredOff.png`)
                div#timer1020Box.block
                    if(data.timer)
                        div#timer1020.bigAndBold 10s
                    else
                        div#timer1020.bigAndBold 20s
        span#racetrack.console_container
            -for (let i = 4; i >= 1; --i)
                +listEntry(`rc${i}`,Math.pow(0.8,i),data.raceTrack[i],1,"racetrack")
            p(id=`rc0`, translate = "no", style=`font-size: 1em; \n opacity: 1`)= data.raceTrack[0]
        form#formx.console_container
            input#attempt(autocomplete="off", value='')
            div#border
        span#tail.hide_of.console_container
            p(class='tails', id=`te0`, translate = "no", style=`font-size: 1em; \n opacity: ${1/1.7}`)
            -for (let i = 1; i<=3; ++i)
                +listEntry(`te${i}`,Math.pow(0.8,-i-1),data.tail[i],1 / Math.pow(1.7, i+1),"tails  hidetails")
        span.outlined.console_container
            p(style='visibility: hidden', id='solutions')= JSON.stringify(data.attempt.solutions)
            p(style='visibility: hidden', id='tries')= data.tries
            p(style='visibility: hidden', id='level')= data.attempt.level
            