extends base

block head
    style(type='text/css').
        .cont {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3,1fr);
        width:100%;
        height: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        }
        .cont::-webkit-scrollbar {
        display: none;
        }

        .statsholder {
        margin: 0.5rem;
        width: 22rem;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        height: 100%;
        font-size: 1.2em;
        color: #ffffff;
        background-color: hsl(0, 0%, 0%);
        border-radius: 10px;
        }

        .tabletitle {
        text-align: center;
        font-size: 2em;
        margin: 10%;
        }



        .statsholderTable {
        vertical-align: middle;
        font-size: 1.2em;
        border-spacing: 10px;
        }

        .statsholderTable tr {
        height: 1.5em;
        }

        .leftcolumn {
        text-align: right;
        }

        .rightcolumn {
        text-align: left;
        }

block content
    -
        const timeInStyle = (t) =>{
            const days = Math.floor(t/(1000*60*60*24));
            const hours = Math.floor(t/(1000*60*60)) - days*24;
            const mins = Math.floor(t/(1000*60)) - hours*60 - days*24*60;
            let tps = `${mins}m`;
            if(hours>0) tps=`${hours}h ${mins}m`;
            if(days>0) tps=`${days}d ${hours}h ${mins}m`;

            return tps;
        }
        const tpt = usergamedata.timePlayingLifetime;
        const tpd = usergamedata.timePlayingToday;
        const timeplayingtotal = timeInStyle(tpt);
        const timeplayingtoday = timeInStyle(tpd);
        const lifetimepace =`${Math.round(usergamedata.stepsTakenLifetime/(tpt/(1000*60)),0)} steps/min`;
        const todaypace =`${Math.round(usergamedata.stepsTakenToday/(tpd/(1000*60)),0)} steps/min`;
        


    main.main
        div.cont
            div#totalstats.statsholder
                div.tabletitle Stats Total
                table.statsholderTable
                    tr 
                        td.leftcolumn Rating:
                        td.rightcolumn= Math.round(usergamedata.rating)
                    tr 
                        td.leftcolumn Highest Rating:
                        td.rightcolumn= Math.round(usergamedata.ratingPeak)
                    tr 
                        td.leftcolumn Rated Plays:
                        td.rightcolumn= usergamedata.ratingPlays
                    tr 
                        td.leftcolumn    
                        td.rightcolumn    
                    tr 
                        td.leftcolumn Time Playing:
                        td.rightcolumn= timeplayingtotal
                    tr 
                        td.leftcolumn Steps Taken:
                        td.rightcolumn= usergamedata.stepsTakenLifetime
                    tr 
                        td.leftcolumn Lifetime Pace:
                        td.rightcolumn= lifetimepace
                    tr 
                        td.leftcolumn
                        td.rightcolumn
                    tr 
                        td.leftcolumn Collected Words:
                        td.rightcolumn= wordscollected
                    tr 
                        td.leftcolumn
                        td.rightcolumn
                    tr 
                        td.leftcolumn Longest Streak:
                        td.rightcolumn= usergamedata.streakRecord

            div#sessionstats.statsholder
                div.tabletitle Stats Today
                table.statsholderTable
                    tr 
                        td
                        td
                    tr 
                        td
                        td
                    tr 
                        td
                        td
                    tr 
                        td
                        td
                    tr 
                        td.leftcolumn Time Playing:
                        td.rightcolumn= timeplayingtoday
                    tr 
                        td.leftcolumn Steps Taken:
                        td.rightcolumn= usergamedata.stepsTakenToday
                    tr 
                        td.leftcolumn Today's Pace:
                        td.rightcolumn= todaypace
                    tr 
                        td.leftcolumn
                        td.rightcolumn
                    tr 
                        td.leftcolumn Collected Words:
                        td.rightcolumn= (wordscollected - usergamedata.collectedWordsDayStart)
                    tr 
                        td.leftcolumn
                        td.rightcolumn
                    tr 
                        td.leftcolumn Today's Streak:
                        td.rightcolumn= usergamedata.streakToday
            div#levelbreakdown.statsholder
                table.statsholderTable
                    div.tabletitle Levels Breakdown
                    each result in levelbreakdown 
                        tr 
                            td.leftcolumn= `Level ${result.level}: `
                            td.rightcolum= result.frequency


            